RewriteEngine on

RewriteCond %{REQUEST_URI} !/Spendor/public/js
RewriteCond %{REQUEST_URI} !/Spendor/public/css
RewriteCond %{REQUEST_URI} !/Spendor/public/img
RewriteRule ^(.*)$ Spendor/public/index.php?url=$1 [QSA]